/* Add CSS Styling */

.odd {
    background-color: #eba5b1;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#item2 {
    color: #5e5ebd;
    font-size: 36px;
}

.large {
    font-size: 24px;
}

#item4 {
    background-color: #c6daa9;
    font-size: 24px;
    font-weight: bold;
}