body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 5px 5px 5px;

}

.title {
  background: #e3f4ff;
  margin: 0px;
  padding: 5px;
  font-size: 16px;

}

.content {
  background: #e3f4ff;
  padding: 10px 5px;
  margin: 5px 0px;
}

.button-container {
  background: #e3f4ff;
  padding: 5px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  padding: 5px 10px;
  display: block;
  margin: 0px auto;
}

